<section>
  <form #form="ngForm" (submit)="onSubmit(form)">
    <!--Email -->
    <mat-form-field appearance="fill" hideRequiredMarker>
      <mat-label>Enter your email</mat-label>
      <input
        ngModel
        type="email"
        name="email"
        matInput
        #email="ngModel"
        required
        email>
      <mat-error *ngIf="email.hasError('required')">Field must not be empty!</mat-error>
      <mat-error *ngIf="!email.hasError('required')">Email is invalid!</mat-error>
    </mat-form-field>
    <!--Password-->
    <mat-form-field appearance="fill" hideRequiredMarker>
      <mat-label>Enter your password</mat-label>
      <input
        ngModel
        name="password"
        #password="ngModel"
        type="password"
        matInput
        required
        minlength="6">
      <mat-error *ngIf="password.hasError('required')">Field must not be empty!</mat-error>
      <mat-error *ngIf="!password.hasError('required')">Has to be at least 6 characters long!</mat-error>
    </mat-form-field>
    <!--Datepicker // sign-up only-->
    <mat-form-field appearance="fill" hideRequiredMarker *ngIf="!isLoginMode">
      <mat-label>Choose your date of birth</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        ngModel
        name="date"
        #date="ngModel"
        [max]="maxDate"
        required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="date.hasError('required')">Field is Required</mat-error>
    </mat-form-field>
    <!--Checkbox // sign-up only-->
    <mat-checkbox color="primary" ngModel name="agree" required *ngIf="!isLoginMode">
      You agree with our terms and conditions
    </mat-checkbox>
    <!--Submit button-->
    <div class="button-group">
      <button
        *ngIf="!isLoading"
        mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
        {{isLoginMode ? "Login" : "Sign Up"}}
      </button>
      <button
        *ngIf="!isLoading"
        mat-raised-button color="basic" type="button"
        (click)="onSwitchMode()"
      >
        Switch to {{isLoginMode ? "Sign Up" : "Login" }}
      </button>
      <mat-spinner *ngIf="isLoading" diameter="30"></mat-spinner>
    </div>

  </form>

</section>
