section {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  border: 3px solid #e91e63;
  border-radius: 0.4rem;
  padding: 0.5rem;

  mat-form-field {
    width: 300px;
    margin-bottom: 0.5rem;
  }

  mat-checkbox {
    margin-bottom: 1rem;
  }

}

.button-group {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
